

/* ==========================================================================
   Video
   ========================================================================== */
.video {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}

.video iframe,  
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* ==========================================================================
   Min & Max Width
   ========================================================================== */
.container {
	width: 800px;
	max-width: 90%;
}
img {
	max-width: 100%;
	height: auto;
}